.recent-posts {
    margin:0 auto;
}

.recent-posts div {
    float:left;
    list-style-type:none;
    width:29%;
    margin-left:0;
    margin-right:4.1%;
    margin-bottom:10px;
    overflow:hidden;
    padding:0 auto;
    padding:15px;
    background-size: cover;
	background-repeat: no-repeat;
	text-shadow: 1px 1px 0px rgb(0,0,0);
}

.recent-posts div:nth-child(3n) {
    margin-right:0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 900px) {
    
    .recent-posts div {
        float:none;
        width:100%;
        margin: 0px auto 10px;
    }
    
}